.community_header {
  background-color: #081b24;
  width: 100%;
  height: 400px;
  color: white;
  display: flex;
  /* padding: 30px; */
  /* flex-direction: column-reverse; */
  justify-content: space-around;
  align-items: center;
}
.community_header_left {
  flex: 0.5;
}

.community_header_right {
  display: block;
  width: 30%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
  object-fit: contain;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}

.community_content {
  width: 90%;
  height: fit-content;
  background-color: white;
  margin: -35px auto 0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  box-shadow: 0 10px 18px -5px;
}
.community_content > a > img {
  width: 200px;
  object-fit: contain;
}
.content {
  box-shadow: 0px 15px 10px -15px #111;
  margin: 1rem;
  color: inherit;
  text-decoration: none;
}

a:visited,
a:active {
  color: inherit;
}

.content:hover {
  box-shadow: 0px 15px 10px -15px rgb(180, 104, 104);
}

@media only screen and (max-width: 662px) {
  .community_header {
    flex-direction: column-reverse;
    padding: 30px;
    box-sizing: border-box;
  }
  .community_header_right {
    width: 50%;
  }
}
